<div class="container">
    <div class="borda-interna">
        <div>

            <img class="imagem"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/150.png">
            <p class="paragrafo">Pokemon MewDwo</p>
        </div>

        <div>
            <button class="botao">Detalhes</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="borda-interna">
        <div>

            <img class="imagem"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/150.png">
            <p class="paragrafo">Pokemon MewDwo</p>
        </div>

        <div>
            <button class="botao">Detalhes</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="borda-interna">
        <div>

            <img class="imagem"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/150.png">
            <p class="paragrafo">Pokemon MewDwo</p>
        </div>

        <div>
            <button class="botao">Detalhes</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="borda-interna">
        <div>

            <img class="imagem"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/150.png">
            <p class="paragrafo">Pokemon MewDwo</p>
        </div>

        <div>
            <button class="botao">Detalhes</button>
        </div>
    </div>
</div>