<div class="alinhamento">
    <div class="container">
        <div class="borda-interna">
            <div>
                <p class="paragrafo">#{{id}} Mewtwo</p>
                <img class="imagem"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/150.png" />
                <p class="paragrafoss">Atributos</p>
                <p class="paragrafos">Habitat: Floresta</p>
                <p class="paragrafos">Espécie: Gato</p>
                <p class="paragrafos">Cor: Cinza</p>
            </div>
            <div></div>
        </div>
    </div>

    <button [routerLink]="['/ListarPokemon']" class="botao">Voltar</button>

</div>